{% extends "index" %}

{% block content %}

{% set image = entry.musicImage.one() %}

<section class="music-bg" style="background-image: url('{{ image.url }}')">
<div class="music__content content-column">

<h1>{{ entry.musicTitle }}</h1>

</div>


<section class="featured-story">
<div class="featured-story__flex content-colomn">

<div class="featured-story__content">

<h2>Test 2</h2>

<p>testing this</p>

</div>
</div>

</section>
</section>
{% endblock %}

