{% extends "index" %}

{% block content %}

<section class="music-bg" style="background-image: url('{{ siteUrl }}static/images/photos/m1.jpeg')">
<div class="music__content content-column">

<h1>{{ entry.musicTitle }}</h1>

</div>
</section>

{% endblock %}
